ul {
 list-style-type: none; margin: 0; padding: 0; background-color: #fbfafa; 
}
.breadcrumb li{
		display: inline;
		margin-left: 23px;
		font-family: helvetica;
}
.breadcrumb span{
	color: black;
}
.breadcrumb{
	position: absolute;
	margin-top: 15px;
	height: 30px;
}
.breadcrumb-wrap{

	height: 45px;
	background-color: #fbfafa;

}
.container{
	height: 40px;
	margin-left: 133px;
	margin-right: 133px;
}
.chitietsanpham{
	width: 100%;
	height: 40%;
}
.anhsach{
	margin-top: 50px;
	width: 40%;
	float:left;

}
.anhsach img{
	max-width: 450px;
	max-height: 450px;
	margin-left: 60px;
	margin-bottom: 50px;
}
.detail{
	float: right;
	width: 60%;
}
.tensach{
	margin-top: 45px;
	font-family: helvetica;
}
.tensach p{
	font-size: 30px;
	display: block;
	color: #0092f2;
	word-wrap: break-word;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.motasanpham{
	
}
.stars {
  display: inline-block;
}
.fa.fa-star{
  float: left;
  padding: 5px;
  font-size: 25px;
  color: #ffc120;
}
.luotdanhgia{
	float: right;
	margin-top:-5px;
}
.luotdanhgia p{	
	font-family: helvetica;
}
.gia h1{
	display: inline-block;
	font-size: 200%;
	color: red;
	margin-bottom: 0px;
	margin-top: 10px;
	margin-left: 7px;
}
.chitietsanpham hr{
	margin-right: 100px;
}
.soluong{
	max-width: 200px;
}
.chonsoluong{
	margin-top: 10px;
	margin-bottom: 2px;
}
.soluong>input{
  width: 50px;
  height: 10%;
  border: 5px solid white;
  text-align: center;
}
.soluong>button{
  width: 40px;
  margin-left: 2px;
  background-color: #E1E8EE;
  border: none;
  border-radius: 6px;
}
.chonmua{
	margin-top: 10px;
	margin-bottom: 10px;
}
.chon span{
	font-size: 20px;
	font-family: helvetica;
}
.chonmua button{
  cursor: pointer;
  color:white;
  width: 153px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #0092f2;
  background-color:#0092f2;
}
.chonmua h3{
	margin-top: 10px; 
}
.yeuthich{
	margin-top: 2px;
	margin-left: 10px;
	display: inline-block;
	color: #938c8c;
	font-size: 20px;
}
.yeuthich:hover{
	color: red;
	cursor: pointer;
}
.yeuthich p{
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 15px;
}
.thongtin{
	display: inline-block;
	width: 50%;
}
.thongtinsanpham p{
	font-size: 25px;
	margin-bottom: px;
	margin-top: 0px;
	font-family: helvetica;
}
.thongtinchitiet p{
	color: #333444;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: helvetica;
}
.thongtinchitiet{
	margin-left: 40px;
}
.motasanpham hr {
	margin-top: 0px;
	width: 80%;
}
.mota{
	background-color: #fbfafa;
	padding-left: 1%;
}
.mota p{
	font-weight: 400;
}
.motachitiet p{
	color: #333444;
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}
.motachitiet{
	width: 1000px;
	margin-left: 5px;
	font-family: helvetica;
}
.mota{
	width: 90%;
}
.motasp{
	background-color: #fbfafa;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 50px;
	height: 450px;	

}
.danhgia{
	padding-top: 2%;
	font-family: helvetica;
	margin-left: 1%;	
}
.danhgiasp{
	background-color: #fbfafa;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 50px;
	height: 450px;
}
.danhgiachitiet{
	width: 80%;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}
.danhgiachitiet p{
	color: #333444;
	width: 80%;
	font-family: helvetica;
}
.saodanhgia{
	width: 80%;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}
.sao{
	float: left;
}


