.trendingproducts{
	display: flex;
}
.trendingproduct{
	width: 241px;
    height: 300px;
    position: relative;
    margin: 30px 18px 18px;
    /*cursor: pointer;*/
}
.trendingproduct img{
	width: 241px;
	height: 300px;
}

.sagobo{
	background-color:#0092f2;
}
