.trendingproducts{
	margin-left: 50px;
	display: flex;
	max-width: 90%;
}
.trendingproduct{
	width: 241px;
    height: 300px;
    position: relative;
    /*cursor: pointer;*/
}
.trendingproduct img{
	width: 241px;
	height: 300px;
}

