body{
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background:#333;
	margin:0;
	padding:0;
	background:white;
}
.header{
	max-width:100%;
	background:#0092f2;
	min-height: 80px;

}
.hotline{
	margin-left: 40px;
	margin-top: -5px;
	float:left;
}
.hotline p{
	font-family: Helvetica;
	font-size: 17px;
}
.shoppingcart-box{
	margin-top: 10px;
	margin-left: 20px;
}
#soluongsanpham{
	color: #FADA5E;
	font-weight: bold;
}
.fa.fa-shopping-cart{
	color: white;
}
.giohang{
	color:white;
}
.account-container{
		margin-top:25px;
		margin-left: 30px;
}
.logo{
	position: relative;
	margin-top: 5px;
	margin-left:30px;
	width: 180px;
	float:left;
}

.autocomplete{
	position: relative;
	display: inline-block;
}
.search-container{
	margin-left: 70px;
	margin-top: 16px;
	float:left;
}
.search-icon{
	background: #edeef2;
	width: 110px;
	height: 36px;
	border: 0px;
	margin-left: 5px;
	border-radius: 3px;
	font-size: 16px;
	outline: none;
	cursor:pointer;
	float:right;
}
.search-box{
	width: 420px;
	height: 24px;
	font-size: 16px;
	border-radius: 3px;
	border: 0px;
	padding: 6px;	
	outline: none;
	float:left;
}
.autocomplete-items {
  min-width:100%;
  height: 50px;
  position: absolute;
  margin-top: 40px;
  z-index: 99;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 

}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.account-container{
	float:left;
	max-height: 40px;
}
.dangnhap{
	text-align: center;
	text-decoration: none;
	position: relative;
	color: white;
	font-size: 15px;
	font-family: helvetica;
}
a{
	text-decoration: none;
	background-color: transparent;
	width: 100px;
	height: 20px;
	margin-right: 1px;
}
.shoppingcart-box{
	float:left;
	text-decoration: none;
	color: white;
	border: 2px solid white;
	border-radius: 4px;
	padding: 10px;
}
.policy-container{
	float:right;
}
.lienhe{
	text-align: center;
	color: white;
	font-size: 15px;
}


.header2{
	max-width:100%;
	background:#0582d4;
	height: 60px;
	border: 1px solid #0582d4;
}


/**DROPDOWN MENU**/
.danhmuc{	
	clear:both;
	margin-top: 5px;
	margin-left: 45px;
 	display: inline-block;
	width: 181px;
	border: 2px solid white;
	border-radius: 4px;
	padding: 8px 11px;
	font-size: 16px;
	color: white;
	font-family: helvetica;
	float:left;
}
.danhmucsanpham{
	
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 205px;
  margin-left: -14px;
  margin-top: 11px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid white;
  border-radius: 4px;
}
.dropdown-content a {
  width:150px;
  color: black;	
  margin-top: 5px;
  margin-left: 5px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: helvetica;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.dropdown-content a:hover {
	background-color: #0092f2;
	color:white;
}
.dropdown-content a:last-child {
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.danhmuc:hover .dropdown-content {
  display: block;
}
/**END OF DROPDOWN MENU**/
.policy-container{
	margin-top: -10px;
	float:left;
	margin-left: 600px;
}
.camketsanpham{
	width: 150px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: helvetica;
	float:left;
}
.giaohangnhanhchong{
	margin-left: 10px;
	width: 100px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: helvetica;
	float:left;
	margin-right: 10px;
}
.doitradedang{
	margin-left: 10px;
	width: 60px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: helvetica;
	float:left;
	margin-right: 10px;
}
.bocsachmienphi{
	margin-left: 10px;
	float:right;
	width: 70px;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: helvetica;
	margin-right: 10px;
}
.banner{
	width: 1250px;
	height: 300px;
	margin: 0 auto;
	margin-top: 40px;
	
}
.trending{
	width: 1250px;
	height: 500px;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
}
.button3{
	margin-top: 100px;
	width: 650px;
	height: 80px;
	margin-left:320px;
	background-color: white;
	border: 0px solid black;
	
}

.items {
	color:#333;
	font-size: 35px;
	width: auto;
	font-family: helvetica;
}

.active{
	cursor: pointer;
	color:#0092f2;
}
.button3 > a:hover{
	cursor: pointer;

	color :#0092f2;
}





/*BANNER SLIDE ANIMATION*/
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto; 
  padding:16px;
 margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

.next {
cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto; 
 padding:16px;
  margin-top: 50px;
  margin-left: 1210px;
  color: w;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

.prev:hover, .next:hover {
  background-color: #0092f2;
}
.dots{
	text-align: center;
	margin-top: 100px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;

  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.actived, .dot:hover {
  background-color: #0092f2;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*END OF BANNER SLIDE ANIMATION*/



/*FOOTER*/
.footer{
  clear:both;
  margin-top: 100px;
}
.footer1{
	color:white;
	width:100%;
  	border-bottom: 1px solid #33333333;
  	float:left;
  	background-color: #0092f2;
  	min-height: 60px;
}
.sub-email{
	margin-left: 140px;
	float: left;
	margin-top: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    font-family: helvetica;
    padding-right: 20px;	
}
.sub-email span{
	 font-size: 13px;
    font-family: helvetica;
    display: block;
}
.mail{
	font-family: helvetica;
	float: left;
}
.mail input{
	margin-left: 10px;
	min-width: 500px;
	font-size: 16px;
	padding: 8px;
	border:1px solid #fff;;
	border-radius: 5px;
	margin-bottom: 10px;
}
.mail button{
	height: 38px;
    width: 170px;
    background: #fff;
    color: #0092f2;
    border:none;
    border-radius: 5px;
    margin: 10px 0 0 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold !important;
}
.footer2{
	clear:both;
	background-color: #fbfafa;
  	overflow: hidden;
  	max-height: 120px;
}
.logofooter{
	min-height: 120px;
	float:left;
}
.logofooter>img{
	margin-top:20px;
	margin-left: 120px;
	width: 250px;
}
.info{
	font-size: 16px;
	min-height: 120px;
	margin-left: 50px;
	font-family: helvetica;
	float: left;
}

.contentmail{
	font-family: helvetica;
	color: #0092f2;
}
.cpyright{
	font-family: helvetica;
	padding: 1px;
	background-color: #fbfafa;
	font-size: 15px;
}
.cpyright p{
	margin-left: 140px;
}
.Social{
	float: right;
	margin-right: 100px;
	font-size: 16px;
    padding: 0px;
}
.Social p{
	font-family: helvetica;
}