
.thongtincanhan h1{
	width: 90%;
	margin-left: 3%;
	color: white;
	line-height: 220%;
	margin-top: 0;
	text-align: center;
}
.thongtincanhan{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	background-color: #0092f2;
}
.donhang{
	width: 90%;

	margin-left: 5%;
	height: 70px;
	margin-top: 5%;
}

.noidungdonhang:hover{
	background-color: red;
}
.donhangcuatoi h1{

	width: 100%;
	color: white;
	line-height: 220%;
	margin-left: 3%;
	margin-top: 0;
}
.donhangcuatoi{
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	background-color: #0092f2;
}
.makhachhang {
	width: 20%;
	margin-left: 3%;
	float: left;
}
.ngaydat{
	width: 10%;
	float: left;
	margin-left: 10%;
}
.tongtien{
	width: 10%;
	float: left;
	margin-left: 20%;
}
.trangthai{
	width: 15%;
	float: left;
	margin-left: 10%;
}

.noidungdonhang{
	height: 50px;
	clear: both;
}
.noidungdonhang:hover{
	cursor: pointer;
	background-color: #33333333;
}
.info-makh{
	width: 20%;
	margin-left: 3%;
	float: left;
}
.info-ngaydat{
	width: 10%;
	float: left;
	margin-left: 10%;
}
.info-tongtien{
	width: 15%;
	float: left;
	margin-left: 20%;
}
.info-trangthai{
	width: 15%;
	float: left;
	margin-left: 5%;
}
.user-interface{
	width: 80%;
	background-color:#fbfafa;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}
.bill{
	display: none;
	margin-left: 15%;
}
.tab {
  border-radius: 5px;
  float: left;
  border: 1px solid #fbfafa;
  background-color:#fbfafa;
  width: 25%;
  height: auto;
}
.tab button {
  display: block;
  background-color: inherit;
  color: #0092f2;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:first-child:hover{
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  background-color: #0092f2;
  color: #ffffff;	
}
.tab button:last-child:hover{
  background-color: #0092f5;
  color: #ffffff;		
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;	
}
.tab button:first-child.active {
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  background-color: #0092f2;
  color: #ffffff;	
}
.tab button:last-child.active{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0092f2;
  color: #ffffff;	
}
.tabcontent {
	background-color: #f1f1f1;
  	float: right;
  	width: 74%;	
  	border-bottom-left-radius: 5px;
  	border-bottom-right-radius: 5px;
  	margin-bottom: 30px;
  	min-height: 450px;
}

.thongtin{
	margin-left: 25%;
}
.fullname>p,.email>p,.phonenumber>p,.address>p{
	float: left;
}
.fullname,.email ,.phonenumber ,.address {
	clear:both;
}
.fullname>input,.email>input,.phonenumber>input,.address>input{
	float: right;
	width:auto;
	margin-top: 2%;
	margin-right: 50%;
	border:none;
	border-radius: 2px;
	height: 25px;
	text-align: center;
}
.save{
	clear: both;
	margin-left: 40%;
}
.save button{
	padding: 5px 10px 5px;
	color: white;
	margin-right: 6%;
	background-color: #0092f2;
	border: 1px solid #0092f2;
	border-radius: 2px;
	width: 15%;
}
.save button:hover{
	cursor: pointer;
}
