body{
	  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background:#333;
	margin:0;
	padding:0;
	background:white;
}

hr{
}
.ad-header{
	width: 100%;
	height: 90px;
	background-color: #0092f2;

}
.dangxuatadmin{
	float: right;
	margin-top: 30px;
	margin-right: 50px;
}
.dangxuatadmin a{
	text-decoration: none;
	color: white;
}
.chart {
    display: inline-block;
    width: 249px;
    height: 160px;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 5px;
    margin-right: -5px;
}
.chart__num {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
    margin-left: 21px;
}

.chart__label {
    color: white;
    font-size: 13px;
    margin-left: 21px;
    padding-top: 7px;
}
.chart-bgred {
    border: 1px solid #F86C6B;
    background: #F86C6B;
}
.chart-bgblue {
    border: 1px solid skyblue;
    background: #20A8D8;
}
.chart-bgskyblue {
    border: 1px solid skyblue;
    background: #63C2DE;
}
.chart__img {
    height: 76px;
    width: 249px;
}
.chart__img-img2 {
    background: url(image/chart_2.jpg);
}
.chart__img-img3 {
    background: url(image/chart_3.jpg);
}
.chart__img-img1 {
    background-image: url("image/chart.jpg");
    margin-left: -1px;
}
.ad-header img{
	margin: 15px 0 15px 70px;
	width: 180px;
	float:left;
}
.header-bot{
	clear: both;
	width: 80%;
	color: #0092f2;
	margin-left: 10%;
	height: 70px;
}
.header-bot p{
	font-size: 2em;
	text-align: center;
}
/*admin----------------------------------------------------*/
.admin-interface{
	width: 80%;
	background-color:#fbfafa;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color:#fbfafa;
  width: 25%;
  height: 300px;
}
.tab button {
  display: block;
  background-color: inherit;
  color: #0092f2;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #0092f2;
  color: #ffffff;
}
.tab button.active {
  background-color: #0092f2;
  color: #ffffff;	
}
.tabcontent {
	background-color: white;
  	float: right;
  	width: 74%;	
}
/*admin-contetn*/
/*Quan li nguoi dung*/
.hoten1{
	width: 33%;
	float: left;
}
.Email{
	width: 33%;
	float: left;
}
.Diachi{
	width: 33%;
	float: left;
}
.data-nguoidung{

}
/*Quan li don hang*/
.hoten2{
	width: 25%;
	float: left;
}
.ngaydat{
	width: 25%;
	float: left;
}
.trangthai{
	width: 25%;
	float: left;
}
.data-donhang{
clear: both;
}
.sanpham{
	width: 25%;
	float: left;
}
/*Quan li san pham*/
.frame{
	float: left;
	width: 100%;
	background-color: white;
}
.pic-frame{
	float: left;
	width: 20%;
}
.pic-frame img{
	width: 100%;
	height: 100%;
}
.cont-frame{
	float: left;
	width:60%;
	background-color: white;
}
.cont-frame h2{
	margin: 0 70% 15px 20px;
	width: 80%;
	font-size: 16px;
	overflow: hidden;
	color: #0092f2;
}
.cont-frame h3{
	margin: 0 70% 15px 20px;
	color: red;

}
.addproduct{
	margin:0 auto;
	background-color: white;
}
.filter{
	margin: 0 auto;
	float:right;
	font-size: 15px;

}
.filter select{
	outline: none;
   background: transparent;
   width: 100%;
   padding: 2px;
   border:1px solid #0092f2;
   font-size: 17px;
   height: 34px;
 }
 .addProduct{
  background-color: #0092f2;
  margin-bottom: 5%;
  width:40%;
  margin-left: 5%;
  border: none;
  color: white;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius:5px;
  cursor: pointer;
}
.edit-frame{
	width:	20%;
	float:left;
}
.edit-frame button{

  margin-bottom: 5%;
  width:40%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius:5px;
}
.btnDelete{
	width: 20%;
	background-color: red;
	padding:10;
}
.btnEdit{
	width: 20%;

	background-color: red;
	padding:10;
	background-color: #0092f2;
}
.edit-frame button:hover{
	cursor: pointer;
}
.soluong{
	float: left;
	margin-left: 20px;
}

.popup{
 display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.popup-content{
	width:80%;
	border: 1px solid #888;
	border-radius: 5px;
	margin: auto;
	margin-top:3%;
	padding: 20px;
	background-color: white;
	height: 80%;
}
.popup-content-img{
	position: relative;
	float:left;

}
.popup-content-img img{
	width:450px;
	height: 430px;
	background-color: transparent;
	margin-bottom: 1%;
}
.btn button{
	cursor: pointer;
	border:none;
	width:15%;
	color: white;
	height: 30px;
	border-radius: 5px;
}
.btn>.btnEdit{
	margin-left: 35%;
}
.inct{
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
	color: blue;
	font-size: 12.5px;
	font-weight: bold;
	text-align: center;
	float: right;
	width: 35%;
}
.inct:hover,.inct:focus{
	border-color: #0092f2;
}
.content{
	float: left;
	width: 40%;
}
.Book{
	color:#0092f2;
	font-weight: bold;
	font-size: 16px;
}
.Price{
	color:red;
}
.thongtinchitiet{
	text-align: left;
	font-size: 15px;
}
.nhapmota textarea{
	font-size: 15px;
	height: 75px;
	overflow-y:auto;
	width: 100%;
}

.xong button{
	border:none;
	width:20%;
	background-color: #0092f2;
	color: white;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.phantrang{
	background-color: white;
	display: inline-block;
	margin-top: 50px;
}
.phantrang b{
	color: black;
	float: left;
	padding: 16px 20px;
	text-decoration: none;
	transition: background-color .3s;
}
.phantrang b.trangchinh{
	background-color: #0092F2;
	color: white;
}
.phantrang b:hover:not(.trangchinh){
	background-color: #ddd;
}