body{
	background:#333;
	margin:0;
	padding:0;
	background:white;
}
.header{
	max-width:100%;
	background:#0092f2;
	height: 80px;
}
.logo{
	width: 180px;
	position: relative;
	left: 70px;
	top: 6px;
}
.search-box{
	width: 420px;
	height: 24px;
	font-size: 14px;
	position: relative;
	left: 320px;
	top: -46px;
	border-radius: 3px;
	border: 0px;
	padding: 6px;	
	outline: none;
	}
.autocomplete{
	position: relative;

	display: inline-block;
}
.search-icon{
	background: #edeef2;
	width: 110px;
	height: 36px;
	border: 0px;
	border: 0px;
	border-radius: 0px 3px 3px 0px;
	position: relative;
	left: 641px;
	top: -82px;
	font-size: 14px;
	outline: none;
	cursor:pointer;

}
.autocomplete-items {
  width:320px;
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: -12px;
  left: 320px;
  

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.dangnhap{
	text-decoration: none;
	position: relative;
	left: 790px;
	top: -118px;
	color: white;
	font-size: 16px;
	font-family: helvetica;
}
.dangky{
	text-decoration: none;
	position: relative;
	left: 790px;
	top: -118px;
	color: white;
	font-size: 14px;
	font-family: helvetica;
}
a{
	text-decoration: none;
	background-color: transparent;
	width: 100px;
	height: 20px;
	margin-right: 1px;
}
.giohang-box{

	position: relative;
	width: 100px;
	height: 20px;
	border-radius: 4px;
	padding: 8px 11px;
	font-size: 17px;

	left: 600px;
	margin-top:23px;
}
.giohang-boxx{
	text-decoration: none;
	color: white;
	position: relative;
	width: 100px;
	height: 20px;
	border: 2px solid white;
	border-radius: 4px;
	padding: 8px 11px;
	font-size: 17px;
	margin: 1px 1px 1px 1px;
	left: 300px;
	top: -186px;
}
.hotline{
	font-family: helvetica;	
}
.lienhe{
	position: relative;
	width: 80px;
	margin: 0px;
	left: 1104px;
	top: -213px;
	color: white;
	font-size: 17px;
}
.sodt{
	position: relative;
	width: 100px;
	margin: 0px;
	left: 1090px;
	top: -210px;
	color: white;
	font-size: 17px;
}


.header2{
	max-width:100%;
	background:#0582d4;
	height: 60px;
	border: 1px solid #0582d4;
}


/**DROPDOWN MENU**/
.danhmuc{	
  display: inline-block;
	position: relative;
	width: 181px;
	border: 2px solid white;
	border-radius: 4px;
	padding: 8px 11px;
	font-size: 17px;
	margin: 1px 1px 1px 1px;
	left: 155px;
	top: 9px;
	color: white;
	font-family: helvetica;
}
.danhmucsanpham{
	padding-left: 4px;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  max-width: 205px;
  margin-left: -14px;
  margin-top: 11px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid white;
  border-radius: 4px;
}
.dropdown-content a {
  width:150px;
  color: black;	
  margin-top: 5px;
  margin-left: 5px;

  padding: 12px 20px;
  font-size: 15px;
  font-family: helvetica;
  text-decoration: none;
  display: inline-block;
 
  border-radius: 4px;
}

.dropdown-content a:hover {
	background-color: #0092f2;
	color:white;
}
.dropdown-content a:last-child {
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.danhmuc:hover .dropdown-content {
  display: block;
}
/**END OF DROPDOWN MENU**/
.camketsanpham{
	position: relative;
	width: 150px;
	text-align: center;
	left: 800px;
	top: -43px;
	color: white;
	font-size: 15px;
	font-family: helvetica;
}
.giaohangnhanhchong{
	position: relative;
	width: 100px;
	text-align: center;
	left: 980px;
	top: -93px;
	color: white;
	font-size: 15px;
	font-family: helvetica;
}
.doitradedang{
	position: relative;
	width: 60px;
	text-align: center;
	left: 1100px;
	top: -143px;
	color: white;
	font-size: 15px;
	font-family: helvetica;
}
.bocsachmienphi{
	position: relative;
	width: 70px;
	text-align: center;
	left: 1195px;
	top: -193px;
	color: white;
	font-size: 15px;
	font-family: helvetica;
}
.banner{
	width: 1250px;
	height: 400px;
	margin: 0 auto;
	margin-top: 40px;
	
}
ul {
 list-style-type: none; margin: 0; padding: 0; background-color: #fbfafa; 
}
.breadcrumb li{
		display: inline;
		margin-left: 23px;
		font-family: helvetica;
}
.breadcrumb span{
	color: black;
}
.breadcrumb{
	position: absolute;
	margin-top: 15px;
	height: 30px;
}
.breadcrumb-wrap{

	height: 45px;
	background-color: #fbfafa;

}
.container{
	height: 40px;
	margin-left: 133px;
	margin-right: 133px;
}
.chitietsanpham{
	width: 100%;
	height: 40%;
}
.anhsach{
	width: 50%;
	height: 70%;
}
.anhsach img{
	margin-top: 50px;
	width: 100%;
	height: 60%;
	float: left;
	margin-bottom: 50px;
}
.tensach{
	margin-top: 30px;
	width: 50%;
	float: right;
	font-family: helvetica;
}
.motasanpham{
	width: 100%;	
}
.stars {
  width: 50%;
  display: inline-block;
}
.fa.fa-star{
  float: left;
  padding: 5px;
  font-size: 25px;
  color: #ffc120;
}
.luotdanhgia p{
	margin-top: 8px;
	width: 50%;	
	font-family: helvetica;
}
.gia h1{
	width: 50%;
	display: inline-block;
	font-size: 200%;
	color: red;
	margin-bottom: 0px;
	margin-top: 0px;
}
.giagoc p{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 100%;
}
.giagoc{
	display: inline-block;
	width: 50%;
}
.chitietsanpham hr{
	margin-right: 100px;
}
.soluong p{
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: helvetica;
}
.soluong{
	display: inline-block;
	width: 50%;
	margin-bottom: 25px;
}
.nhapsoluong{
	display: table;
	display: inline-block;
	width: 20%;
}
.soluongmua{
	width: 20px;
}
.nhapsoluong button:hover{
	background-color: #fcfcfc;
}
.nhapsoluong input{
	text-align: center;
}
.cong{
	width: 25px;
}
.tru{
	width: 25px;
}
.nhapsoluong span{
	position: relative;
}
.chonmua{
	width: 50%;
}
.chon h3{
	font-family: helvetica;
}
.chonmua button{
	width: 50%;
	height: 40px;
	background-color: #fc0000;
	color: white;
	border-radius: 5px;
	margin-right: 20px;
}
.chonmua h3{
	margin-top: 10px; 
}
.chonmua{
	display: inline-block;
}
.chonmua button:hover{
	background-color: #f75959;
}
.yeuthich{
	display: inline-block;
	color: #938c8c;
	font-size: 25px;
}
.yeuthich i:hover{
	color: #f20707;
}
.thongtin{
	display: inline-block;
	width: 50%;
}
.thongtinsanpham p{
	font-size: 25px;
	font-family: helvetica;
}
.thongtinchitiet p{
	font-size: 18px;
	margin-bottom: 20px;
	font-family: helvetica;
}
.thongtinchitiet{
	margin-left: 40px;
}
.motasanpham hr {
	width: 80%;
}
.mota{
	padding-top: 2%;
	font-family: helvetica;
	margin-left: 1%;
}
.motachitiet p{
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}
.motachitiet{
	width: 1000px;
	margin-left: 5px;
	font-family: helvetica;
}
.mota{
	width: 90%;
}
.motasp{
	background-color: #fbfafa;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 50px;
	height: 450px;	

}
.danhgia{
	padding-top: 2%;
	font-family: helvetica;
	margin-left: 1%;	
}
.danhgiasp{
	background-color: #fbfafa;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: 50px;
	height: 450px;
}
.danhgiachitiet{
	width: 80%;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}
.danhgiachitiet p{
	width: 80%;
	font-family: helvetica;
}
.saodanhgia{
	width: 80%;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}


